body{
  background-color: #3f3b3a;
  background-image: url(../images/image2.jpg);
  background-repeat:no-repeat;
   background-size:cover;
}
img {
display: block;
margin: 30 auto;
}
.sidebar{
  width: 15%;
  float: right;
  background-color: #e26344;
  padding:20px;
}
h1{
  text-align: center;
  color: #fcfaf9;
}
h3{
  text-align: center;
  color: #fcfaf9;
}
.location{
  color: #252c87;
  font-size: 12px;
}
.date{
  color: #252c87;
  font-size: 12px;
}
li{
  font-size: 14px;
}
.about{
  width: 650px;
  float: left;
  background-color: #ef998b;
  padding-right: 20px;
  padding-left: 20px;
  opacity: 0.6;
}
.about p{
  text-align: justify;
  font-weight: 300;
}
.pics img{
  border: 3px;
  border-color: white;
  border-style: solid;
}
