body{
  background-color: #3f3b3a;
}
img {
display: block;
margin: 0 auto;
}
.sidebar{
  width: 35%;
  float: right;
  background-color: #e26344;
}
h1{
  text-align: center;
}

h3{
  text-align: center;
}
